# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Template Sync"
on:
  # cronjob trigger
  schedule:
    - cron: "0 1 * * *"
  # manual trigger
  workflow_dispatch:
jobs:
  repo-sync:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    permissions:
      contents: write
      issues: write
      pull-requests: write
      actions: write


    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        # https://github.com/actions/checkout#usage
        # uncomment if you use submodules within the repository
        # with:
        #   submodules: true

      - name: actions-template-sync
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: onedr0p/cluster-template
          upstream_branch: main
          pr_labels: area/templates,area/scripts
